/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* APP */
body {
    font-family: Verdana,Arial,sans-serif;
    margin:0;
    padding:0;
    color:#333;
    font-size:14px;
    background:#ffffe9;
}
header {
    display:block;
    width:100%;
    height:100vh;
    text-align: center;
    position:relative;
}
.text-vertical-center {
    position:absolute;
    width:560px;
    height:230px;
    top:50%;
    left:50%;
    margin:-130px 0 0 -280px;
}
.footer {
    color:#b9afa4;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
h1 {
    font-size:40px;
    margin:0 0 20px;
    color:#f56b2a;
    font-weight:700;
}
h1 > span {
    color:#787776;
}
h3 {
    font-size:15px;
    margin:0 0 10px;
    color:#444;
}

/* FORM */
.big-input {
    padding: 15px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    width:555px;
    font-size:20px;
    color:#888;
    height:20px;
    margin:0 0 20px 0;
    text-align: center;
}
.big-input:focus {
    border-bottom: solid 2px #969696;
}
.submit {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.submit:hover {
    background-color: rgba(0,0,0,0.7);
}
#new-search {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
    cursor:pointer;
}
/* MAP */
#map {
    display:block;
    width:100%;
    height:100vh;
}

/* INFOWINDOW */
.list_item {
    position: relative;
    display: block;
    /*padding: 15px;*/
    padding: .5rem;
    -webkit-transition: background,0.3s;
    -moz-transition: background,0.3s;
    transition: background,0.3s;
    overflow: hidden;
}
.list_item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.item_image {
    position: relative;
    overflow: hidden;
    float: left;
    width: 25%;
    min-width: 130px;
    min-height: 120px;
    max-height: 100%;
    background: #f2f2f2;
}
.item_imagePic {
    display: block;
    height: 100%;
    min-height: 120px;
    text-align: center;
}
.item_imageNumber {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    opacity: 0.8;
    line-height: 20px;
    color: #f56b2a;
    font-weight: bold;
}
.item_infos {
    position: relative;
    float: left;
    width: 300px;
    padding: 0 0 0 20px;
    padding: 0 0 0 2rem;
}
.item_title {
    margin: 5px 0;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 500;
 /*   font-family: "OpenSansSemiBold",sans-serif;*/
}
.item_supp {
    color: #1a1a1a;
    margin:0;
}
.list .item_price {
    margin-bottom: 0;
}
.item_price {
    margin: 10px 0 0 0;
    margin: 1rem 0 0 0;
    font-size: 20px;
    font-size: 1.4rem;
    color: #f56b2a;
    font-weight: 700;
/*    font-family: "OpenSansBold",sans-serif;*/
}
.item_absolute {
    position: absolute;
    bottom: 0;
    right: 0;
}
#legend {
    left: 10px !important;
    direction: ltr;
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 22px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
#legend h3 {
    font-weight:bold;
    font-size:11px;
}
#legend p {
    line-height:30px;
}
#legend img {
    display: inline-block;
    margin: 0px -6px -10px 0;
}
