@media only screen
and (max-device-width : 1100px) {
    .hide-mobile {
        display:none;
    }
    #navbar #form-search {
        width:calc(100vw - 170px);
        position:relative;
    }
    #navbar #input-url {
        width:calc(100% - 65px);
    }
    #navbar #input-submit {
        width:60px;
        position:absolute;
        right:0px;
        top:9px;
    }
}
@media only screen
and (max-device-width : 900px) {
    #container {
        width:640px;
        margin-left:-320px;
    }
    #input-submit,
    #input-url {
        width:100%;
    }
}
@media only screen
and (max-device-width : 667px) {
    #container {
        position:static;
        top:auto;
        left:auto;
        right:auto;
        bottom:auto;
        margin:auto;
        display:block;
        box-shadow: none;
        border-radius: 0px;
        padding:30px 10px 10px;
        width:auto;
    }
    #map {display:none !important;}
    body.in-search #map {display:block !important;}
    img {
        max-width: 100%;
        height: auto;
    }
    footer {
        position:static;
        bottom:auto;
        left:auto;
        right:auto;
        width:100%;
        display:block;
    }
    footer a {
        border-right:1px solid #ccc;
    }
    body.in-search #map {
        margin:0px;
    }
    body.in-search footer {
        display:none;
    }

    /* PAGE */
    .page-container {
        max-width:100%;
        padding:30px 0 0 !important;
    }
    .page-container .page-breadcrumb {
        font-size:14px;
    }
    .page-container h1 {
        margin:0;
        padding:0;
        background:none;
        color:#000;
        font-size:18px;
        height:auto;
    }
    .page-container h1 span {
        float:none;
        background:none;
        display:inline;
    }
    .page-container .page-footer {
        line-height: 40px;
        padding:0 40px;
        margin:0;
    }
    .page-container .download-plugin {
        width:100%;
    }
    .page-container ul {
        padding:0;
    }
    .page-container li.img {
        display:none;
    }
}

@media only screen
and (max-device-width : 515px) {
    /* NAVBAR */
    #navbar h1 a {
        font-size:20px;
    }
    #navbar #form-search {
        width:calc(100vw - 148px);
        position:relative;
    }
    #navbar #input-url {
        width:calc(100% - 50px);
    }
    #navbar #input-submit {
        width:50px;
        position:absolute;
        right:0px;
        top:9px;
    }
    /* CONTAINER */
    #container {
        padding:60px 10px;
    }
    /* SIDEBAR */
    #sidebar-wrapper {
        width:280px;
    }
    #toggle {
        left:280px;
    }
    body.in-search.toggle #toggle {
        -webkit-transform: translateX(-280px);
        transform: translateX(-280px) scaleX(-1);
    }
    body.in-search.toggle #sidebar-wrapper {
        /*margin-left:-480px;*/
        -webkit-transform: translateX(-480px);
        transform: translateX(-480px);
    }
    .sidebar-title {
        display:none;
    }
    #sidebar-advanced-search {
        line-height:20px;
    }
    .sidebar-header {
        padding:10px;
    }
    .filter-item {
        width:auto;
        display:block;
    }
    .filter-item label {
        display: inline-block;
        width: 110px;
    }
    .filter-day .filter-select-wrapper,
    .filter-distance .filter-select-wrapper {
        width:130px;
    }
    .sidebar-details {
        display:none;
    }
    /* MEDIA */
    .media {
        padding:10px;
    }
    .media-left {
        width:100px;
        margin-right:5px;
    }
    .media-left .media-object {
        top:auto;
        max-width: 100px;
    }
    .media-body {
        width:150px;
    }
    .media-heading a {
        display:block;
        overflow:hidden;
        max-height:38px;
    }
    /* FOOTER */
    body footer {
        background:none;
        border:none;
    }
    body footer a, footer span {
        display:block;
        text-align: center;
        font-size:16px !important;
        border:none;
    }
    body footer a {
        text-decoration: underline;
    }
    .rightlinks {
        float:none;
    }
    /* PAGE */
    .page-body {
        padding:15px !important;
    }
    .page-container h1 {

    }
}
