/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* APP */
body {
    font-family: Verdana,Arial,sans-serif;
    margin:0;
    padding:0;
    color:#333;
    font-size:14px;
    background:#ffffe9;
}
.hand {
    cursor:pointer;
}
#navbar {
    margin:0;
    border-radius:0;
    background-color: #ffffe9;
    border-color:#ffffe9;
}
h1 .navbar-brand {
    font-height:1.8em
}
h1 a span {
    font-weight:700;
    color:#b9afa4;
}
h1 a span + span,
h1 a i {
    color:#f56b2a;
}
h3 {
    font-size:15px;
    margin:0 0 10px;
    color:#444;
}

/* FORM */
#input-submit {
    font-weight: 300;
}

/* MODAL */
.modal-title {
    font-size: 24px;
    text-align: center;
}
/* CAROUSEL */
.carousel-inner>.item {
    min-height:240px;
    text-align:center;
}
.carousel-caption h3 {
    font-size:24px;
    color:#fff;
}
.carousel-caption p {
    line-height:20px;
}
/* MAP */
#overlay {
    display:block;
    position:absolute;
    top:46px;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.4);
    z-index:10;
}
#map {
    z-index:1;
    display:block;
    position:relative;
    height:calc(100vh - 46px);
}
#map.toggled {
    margin-left:33%;
}

/* LEGEND */
#legend {
    left: 10px !important;
    direction: ltr;
    overflow: hidden;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 22px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
#legend h3 {
    font-weight:bold;
    font-size:11px;
}
#legend p {
    line-height:30px;
}
#legend img {
    display: inline-block;
    margin: 0px -6px -10px 0;
}

/* LOADER */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/** PANEL */

#sidebar-wrapper {
    z-index: 1001;
    position: fixed;
    left:0;
    width:calc(100%  /3);
    height:calc(100vh - 46px);
    background: #FFF;
    display:none;
}
#sidebar-wrapper.toggled {
    display:block;
}
.sidebar-header {
    padding:15px;
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
}
.sidebar-title {
    font-weight: bold;
    margin:0 0 5px 0;
    font-size:15px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.sidebar-details {
    display: block;
    font-size: 12px;
    line-height:12px;
    text-align: center;
    margin:8px 0 0;
}
.sidebar-count {
    color: #b9afa4;
}
/* FILTERS */
.filter-item {
    font-size:12px;
    display:inline-block;
    width:216px;
}
.filter-item.disabled {
    color:#ccc;
}
.filter-item.disabled .filter-select-wrapper {
    background: #eee;
}
.filter-select-wrapper {
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    position:relative;
}
.filter-day .filter-select-wrapper {
    width: 110px;
}
.filter-select-wrapper i {
    position:absolute;
    top:4px;
    right:5px;
}
.filter-select {
    position: relative;
    width: 100%;
    padding: 0 25px 0 15px;
    height: 19px;
    line-height: 19px;
    color: #1a1a1a;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sidebar {
    overflow-y: scroll;
    height: calc(100vh - 46px - 91px);
}
.pwet:hover,
.pwet.active {
    background-color:#e6e6e6;
}
.pwet:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.media {
    position: relative;
    display: block;
    padding:15px;
    -webkit-transition: background,0.3s;
    -moz-transition: background,0.3s;
    transition: background,0.3s;
    text-decoration:none;
    min-height:129px;
}
.media-heading a {
    text-decoration: underline;
}
.media-left {
    position:relative;
    text-align:center;
    min-width: 170px;
}
.media-left .media-object {
    display:inline-block;
}
.media-number {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    opacity: 0.8;
    line-height: 20px;
    color: #f56b2a;
    font-weight: bold;
}
.media-body {
    position: relative;
    height:99px;
}
.media-heading {
    margin: 0 0 5px;
    font-size: 1rem;
    line-height: 1.2rem;
}
.media-supp {
    color: #1a1a1a;
    margin:0;
    line-height: 1.2rem;
}
.media-price {
    margin:0;
    font-size: 1rem;
    color: #f56b2a;
    font-weight: 700;
    position:absolute;
    bottom:0;
}
.media-date {
    position: absolute;
    bottom: 0px;
    right: 0;
    font-size:.65rem;
}
/* INFOBOX */
.trajet {
    width:170px;
    line-height:15px;
}
.trajet p {

}
.trajet span {
    font-weight:bold;
}