/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong {
    font-weight:bold;
}
input:read-only {
    opacity:0.7;
}


/* APP */
body {
    font-family: Verdana,Arial,sans-serif;
    margin:0;
    padding:0;
    color:#333;
    font-size:14px;
    background:#ffe;
}
.dib {display:inline-block;vertical-align: middle;}
.hand {cursor:pointer;}
.text-center {text-align: center;}
.input-lg {
    max-width: 100%;
    width: 550px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding:0px 15px;
}
.btn {
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    cursor: default;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor:pointer;
}
.btn:active {
    position:relative;
    top:2px;
}
.btn-warning {
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top,#f5a42a 0,#f56b2a 100%);
    background-image: -o-linear-gradient(top,#f5a42a 0,#f56b2a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5a42a),to(#f56b2a));
    background-image: linear-gradient(to bottom,#f5a42a 0,#f56b2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffaa937', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid #f5a42a;
}
.btn-lg {
    position: relative;
    top:1px;
    padding: 0px 15px;
    height: 36px;
    line-height: 36px;
    font-size:15px;
}
.form-group {
    margin:0 0 10px 0;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-map-marker:before {content: "\e062";}
.glyphicon-refresh:before {content: "\e031";}
.glyphicon-chevron-down:before {content: "\e114";}
.glyphicon-search:before {content: "\e003";}
/* NAVBAR */
#navbar {
    display:none;
    margin:0;
    border-radius:0;
    background-color: #ffffe9;
    border-color:#ffffe9;
    height:56px;
    line-height:56px;
    padding:0 15px;
    position:relative;
    z-index:10;
}
#navbar h1 {
    display:inline-block;
    margin:0 10px 0 0;
    height:56px;
    line-height:56px;
    position:relative;
    top:-1px;
}
body.in-search #navbar {
    display:block;
}
#navbar h1 a {
    font-size:24px;
    text-decoration: none;
}
#navbar h1 span {
    font-weight:700;
    color:#b9afa4;
}
#navbar h1 span + span,
#navbar h1 a i {
    color:#f56b2a;
}
#navbar .input-url {
    text-align: left;
}
.navbar-links {
    float:right;
}
.navbar-links a,
.navbar-links span {
    color:#888;
    padding:0 15px;
}
h3 {
    font-size:15px;
    margin:0 0 10px;
    color:#444;
}

/* HOMEPAGE */
#container {
    position:absolute;
    z-index:10;
    width:800px;
    top:50%;
    left:50%;
    margin:-170px 0 0 -400px;
    padding:35px 20px 20px 20px;
    background:#ffffe9;
    box-shadow: 1px 1px 6px #555;
    border-radius:5px;
}
body.in-search #container {
    display:none;
}
.container-table {
    height:100%;
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
#logo {
    margin:0 0 25px 0;
}
.input-url {
    text-align:center;
}
.input-submit {
    font-weight: 300;
}
footer {
    z-index:10;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    background:#f3f3f3;
    border-top: 1px solid #e9e9e9;
    line-height: 55px;
    min-height: 55px;
}
body.in-search footer {
    display:none;
}

footer a, footer a:link, footer a:visited, footer a:active,
footer span {
    color: #696969;
    font-size:13px;
    text-decoration:none;
    line-height: 50px;
}
footer a:hover {
    text-decoration:underline;
}
footer a {
    padding-right:15px;
    padding-left:15px;
}
.rightlinks {
    float:right;
    padding-right:15px;
    padding-left:15px;
}

/* MAP */
#map {
    z-index:1;
    display:block;
    position:relative;
    height:calc(100vh - 56px);
    opacity:0.3;
    width:100%;
}
body.in-search #map {
    opacity:1;
    height:calc(100vh - 56px);
}
/* LOADER */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/** PANEL */
#toggle {
    display:none;
    position:absolute;
    z-index:10;
    top:66px;
    left:480px;
    width:23px;
    height:48px;
    cursor:pointer;
    background:rgba(255,255,255,1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==) 7px center/7px 10px no-repeat;
    border-left:1px solid #D4D4D4;
}
body.in-search #toggle {display:block;}
body.in-search.toggle #toggle {
    -webkit-transform: translateX(-480px);
    transform: translateX(-480px) scaleX(-1);
}
#sidebar-wrapper {
    position: fixed;
    left:0;
    width:480px;
    height:calc(100vh - 56px);
    background: #FFF;
    display:none;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index:8;
    -webkit-transform: translateX(0px);
}
body.in-search #sidebar-wrapper {display:block;}
body.in-search.toggle #sidebar-wrapper {
    /*margin-left:-480px;*/
    -webkit-transform: translateX(-480px);
    transform: translateX(-480px);
}
#sidebar-wrapper, #toggle {
    transform: translateX(0px);
    transition-property: -webkit-transform,transform,opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}
.sidebar-header {
    padding:10px 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
}
.sidebar-title {
    font-weight: bold;
    margin:0 0 5px 0;
    font-size:15px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.sidebar-details {
    display: block;
    font-size: 12px;
    line-height:12px;
    text-align: center;
    margin:8px 0 0;
    color: #b9afa4;
}
/* FILTERS */
.filter-item {
    font-size:12px;
    display:inline-block;
    width:216px;
}
.filter-item.disabled {
    color:#ccc;
}
.filter-item.disabled .filter-select-wrapper {
    background: #eee;
}
.filter-select-wrapper {
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    position:relative;
}
.filter-day .filter-select-wrapper {
    width: 110px;
}
.filter-select-wrapper i {
    position:absolute;
    top:4px;
    right:5px;
}
.filter-select {
    position: relative;
    width: 100%;
    padding: 0 25px 0 15px;
    height: 19px;
    line-height: 19px;
    color: #1a1a1a;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sidebar {
    overflow-y: scroll;
    height: calc(100vh - 86px - 56px);
}
.pwet:hover,
.pwet.active {
    background-color:#e6e6e6;
}
.pwet:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.media {
    position: relative;
    display: block;
    padding:15px;
    -webkit-transition: background,0.3s;
    -moz-transition: background,0.3s;
    transition: background,0.3s;
    text-decoration:none;
    min-height:129px;
}
.media-heading a {
    text-decoration: underline;
}
.media-left {
    position:relative;
    text-align:center;
    width: 120px;
    margin:0 10px 0 0;
    display:inline-block;
}
.media-left .media-object {
    max-width:120px;
    max-height:90px;
    position:relative;
    top:10px;
}
.media-number {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #fff;
    opacity: 0.8;
    line-height: 20px;
    color: #f56b2a;
    font-weight: bold;
}
.media-number.null{
    display:none;
}
.media-body {
    display:inline-block;
    position: relative;
    height:99px;
    width:303px;
    vertical-align:top;
}
.media-heading {
    margin: 0 0 5px;
    font-size: 1rem;
    line-height: 1.2rem;
}
.media-supp {
    color: #1a1a1a;
    margin:0;
    line-height: 1.2rem;
    font-size:12px;
}
.media-supp.null {
    display:none;
}
.media-price {
    margin:0;
    font-size: 1rem;
    color: #f56b2a;
    font-weight: 700;
    position:absolute;
    bottom:0;
}
.media-date {
    position: absolute;
    bottom: 0px;
    right: 0;
    font-size:.65rem;
}
/* INFOBOX */
.trajet {
    /*width:170px;*/
    line-height:15px;
}
.trajet p {

}
.trajet span {
    font-weight:bold;
}

@media only screen
and (min-device-width : 1101px) {
    .hide-desktop {
        display:none;
    }
}
